<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes de numeros</p>
</div>

<div class="p-grid">
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect: invitacionMap }}
        a nuestro evento.
      </p>
      <div *ngIf="genero === 'f'">
        <button
          (click)="changeGenderM()"
          pButton
          pRipple
          type="button"
          icon="pi pi-user"
          class="p-button-rounded p-button-info mr-l"
        ></button>
      </div>
      <div *ngIf="genero === 'm'">
        <button
          (click)="changeGenderF()"
          pButton
          pRipple
          type="button"
          icon="pi pi-user"
          class="p-button-rounded p-button-help"
        ></button>
      </div>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
    <p>Actualmente {{ clientes.length | i18nPlural: clientesMap }}</p>
    <button
    (click)="lessPeople()"
      pButton
      pRipple
      type="button"
      icon="pi pi-user-minus"
      class="p-button-rounded p-button-danger mr-l"
    ></button>

    <button
      (click)="addedPeople()"
      pButton
      pRipple
      type="button"
      icon="pi pi-user-plus"
      class="p-button-rounded p-button-success"
    ></button>
    </p-fieldset>

  </div>
</div>
